@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
}
body {
  background-color: #1f1f1f;
}

.front-img {
  position: absolute;
  transform: rotateY(90deg);
  transition: all ease-in 0.2s;
}

.flipped .front-img {
  transform: rotate(0deg);
  transition-delay: 0.2s;
}

.back-img {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}
.flipped .back-img {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
